* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  text-decoration: none;
}
a {
  color: #4a4a4a;
  font-weight: 500;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myCustom {
  background: green;
  border: 3px solid red;
  width: 100%;
  height: auto;
  color: black;
}
/* span{
  background:black;
  color: white;
  padding: 20px 20px;
  line-height: 40px;
   width: 100%;
   height: 100%;

} */

.slick-slide {
  /* width: 50px !important; */
  /* background: blue !important; */
}

.test {
  background: azure !important;
  color: aquamarine;
  direction: rtl;
}

.slick-track {
  transform: none !important;
}

.JC {
  display: flex;
  justify-content: space-between;
}

.bg-scroll {
  background: #000;
  padding: 4px 20px;
  color: #fff;
}
.kep-login-facebook.metro {
  padding: 11px 13px !important;
  margin-right: 10px !important;
  background-color: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px !important;
  border-radius: 2px !important;
  font-weight: 400 !important;
}
.C-pointer {
  cursor: pointer;
}
.pos {
  position: fixed;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: brown;
}
.bg4 {
  background-color: burlywood;
}
.bg5 {
  background-color: cadetblue;
}
.bg6 {
  background-color: cornflowerblue;
}
